@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/pitngo-hitech.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

:root{
    --primary-color:#DE0034;
}

.main-container{
    display: flex;
    width: 800px;
    height: 500px;
}

.main-container .left-side{
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    background-color: rgb(244, 244, 244);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.main-container .right-side{
    background-color: rgb(85, 85, 85);
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.main-container .left-side img{
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

/* login logout form start */
.inputContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inputContainer div {
    margin-bottom: 15px;
}

.inputContainer div label{
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    font-size: 1.1em;
    text-shadow: 0px 2px black;
}

.inputContainer div input{
    display: block;
    border-style: none;
    height: 2em;
    width: 20em;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.inputContainer div input:focus{
    outline: none;
}

.inputContainer button{
    font-family: 'Roboto Slab', serif;
    margin-top: 15px;
    border-style: none;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.main-container .right-side .signup-forget{
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: white;
}

.main-container .right-side .signup-forget a{
    cursor: pointer;
    color: white;
    font-weight: 100;
    font-size: 15px;
}

@media(max-width: 830px){
    .main-container{
        width: 600px;
        height: 400px;
    }

    .main-container .left-side img{
        width: 300px;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
    }

    .inputContainer div input{
        height: 2em;
        width: 15em;
    }
    
    .inputContainer button{
        font-family: 'Roboto Slab', serif;
        margin-top: unset;
        padding: 5px 20px;
        font-size: 10px;
    }

    .inputContainer div {
        margin-bottom: 10px;
    }

    .main-container .right-side .signup-forget{
        bottom: 2px;
        font-size: 10px;
    }

    .main-container .right-side .signup-forget a{
        font-size: 12px;
    }
}