@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  text-align: center;
}

.tableContainer{
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto; 
  max-height: 70vh;
} 

.tableContainer .table{
  width: 2000px;
}

.tableContainer table thead{
  position: sticky;
  top: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  z-index: 3;
}

.tableContainer table{
  border-collapse: collapse;
}

.tableContainer table tr > *{
  padding: 10px;
}

.tableContainer table tr th{
  border: 2px solid #AFC2D5;
  background-color: #C7EBF0;
  text-shadow: 0px 2px 0.5;
  box-shadow: 0px 10px 1 rgb(0, 0, 0);
}

.name{
  width: 500px
}

.tableContainer .table .table-header .name{
  padding: 0 60px;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1;
}

.tableContainer .table{
  font-size: 15px;
}

.tableContainer .table tbody .main-rows td{
  font-size: 13px;
  text-align: center;
  padding: 15px;
}

.tableContainer .table tbody .main-rows td:nth-child(even){
  background-color: #AFC2D5;
}

.tableContainer .table tbody .main-rows{
  cursor: pointer;
  background-color: #c8ddf2;
  border-bottom: .5px solid #000000;
}

.tableContainer .table tbody .main-rows:hover{
  background-color: #AFC2D5;
  color: white;
}

.tableContainer .table tbody .main-rows .side-header{
  background-color: #c8ddf2;
  position: sticky;
  left: 0;
  z-index: 2;
}

.extra-datas{
  font-size: 15px;
}