<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/images/web_logo.png">
        <title>Pit & Go | {% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/nav.css')}}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{url_for('static',filename='scripts/main.js')}}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        {% block styles %}
        {% endblock %}
        <link rel="shortcut icon" href="{{url_for('static',filename='images/MDMM.ico')}}"/>
    </head>
    <body>
        <div class="top-nav-container">
            <img src="{{url_for('static',filename='images/fireworks.gif')}}" style="width:150px;height:150px;position: absolute;z-index: 1000;top:-50px;left:20%">
            <img src="{{url_for('static',filename='images/fireworks.gif')}}" style="width:150px;height:150px;position: absolute;z-index: 1000;top:-50px;right:30%">
            <nav class="head-class">
                <div class="logo-img">
                    <a href="{{url_for('views.home')}}" style="text-decoration: none;"><span class="" id="sms"><b>Shop Manangement<br>System</b></span><img src="{{url_for('static',filename='images/web_logo.png')}}" id="logo"/></a>
                    {% set user_roles = request.cookies.get('user_roles') %}
                    {% if user_roles != 'None' %}
                    <i class="fa-solid fa-angle-right open-btn logo-arrow" onclick="openNav()"></i>
                    {% endif %}
                    <i class="fa-solid fa-angle-left close-btn logo-arrow" style="display: none;" onclick="closeNav()"></i>
                </div>
                <marquee width="40%" style="margin-left: 40px;" behavior="" direction="">Happy ThadinGyut Fastival</marquee>
                <h1 class="job-data-header">{% block pageHeader %} {% endblock %}</h1>
                <div class="profile-tab">
                    {% if request.path == '/get-report' or request.path == '/pic-report' %}
                        <i class="fa-solid fa-download" onclick="exportTableToExcel()"></i>
                    {% endif %}
                    {% if request.cookies.get('pg-username') %}
                        <h4>Welcome, {{ request.cookies.get('pg-username') }}!</h4>
                    {% endif %}
                        <i class="fa-solid fa-circle-user"></i>
                    <button onclick="signOut()">Sign Out</button>
                </div>
            </nav>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="{{url_for('dash.home')}}">Dashboard</a>
            <a href="#"  onclick="showDropdown(this)">Reporting<i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-container">
                <a href="#" class="sub-head" onclick="callModalForDateRange('get_report')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">JOB Ability</a>
                <a href="#" class="sub-head" onclick="callModalForDateRange('pic_report')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">PIC Report</a>   
                <a href="{{url_for('views.show_service_datas',typ='check-in-out-report')}}" class="sub-head">Daily Report</a>  
                <a href="{{url_for('views.show_service_datas',typ='idle_report')}}" class="sub-head">IDLE Report</a>           
            </div>
            <a href="#"  onclick="showDropdown(this)">Transactions<i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-container">
                <a href="{{url_for('views.show_service_datas',typ='service-datas')}}" class="sub-head">Service Data</a>
                <a href="{{url_for('views.show_service_datas',typ='check-in-out')}}" class="sub-head">Check In Out</a>
            </div>
            <a href="#"  onclick="showDropdown(this)">Registrations<i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-container">
                <a href="{{url_for('views.show_service_datas',typ='customers')}}" class="sub-head">Customers</a>
                <a href="{{url_for('views.show_service_datas',typ='vehicles')}}" class="sub-head">Vehicles</a>                
            </div>
            <a href="#"  onclick="showDropdown(this)">Configuration<i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-container">
                <a href="{{url_for('views.show_service_datas',typ='pic-rate')}}" class="sub-head">PIC</a>
                <a href="{{url_for('views.show_service_datas',typ='job-type')}}" class="sub-head">Types</a>
                <a href="{{url_for('views.show_service_datas',typ='technician')}}" class="sub-head">Technicians</a>     
                <a href="{{url_for('views.show_service_datas',typ='brand')}}" class="sub-head">Brand & Model</a>           
            </div>
            {% if '5' in user_roles %}<a href="{{url_for('dash.admin_dashboard')}}">Admin Panel{% if request.path == '/'%}<span class="noti">{%block pendingCount %}{% endblock %}</span>{% endif %}</a>{% endif %}
        </div>
          
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" style="z-index: 10010;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Data Option For </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  id="submitForm" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label for="start-dt" class="mb-1">Start Date</label>
                                <input required type="date" id="start-dt" name="start-dt" value="2023-01-25">                        
                            </div>
                            <div class="col">
                                <label for="end-dt" class="mb-1">End Date</label>
                                <input required type="date" id="end-dt" name="end-dt" value="2023-05-11">                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="bi" class="mb-1">Business Unit</label>
                                <select name="bi" id="bi" class="form-select form-select-sm" aria-label="Small select example">
                                    {% if '1' in user_roles or '2' in user_roles or '3' in user_roles %}
                                        <option value="1">PIT & GO</option>
                                    {% endif %}
                                    {% if '4' in user_roles %}
                                        <option value="2">TOYOTA</option> 
                                    {% endif %} 
                                    {% if '1' in user_roles and '2' in user_roles and '3' in user_roles and '4' in user_roles %}                                  
                                        <option value="0">All Units</option>
                                    {% endif %}
                                </select>                        
                            </div>
                            <div class="col">
                                <label for="shop"  class="mb-1">Shop</label>
                                <select name="shop" id="shop" class="form-select form-select-sm" aria-label="Small select example">
                                    {% if '3' in user_roles %}<option value="3">PIT & GO BAWGA</option>{% endif %}
                                    {% if '1' in user_roles %}<option value="1">PIT & GO BGO</option>{% endif %}
                                    {% if '2' in user_roles %}<option value="2">PIT & GO SKP</option>{% endif %}
                                    {% if '4' in user_roles %}<option value="4">TOYOTA SKP</option>{% endif %}
                                    {% if '1' in user_roles and '2' in user_roles and '3' in user_roles and '4' in user_roles %}<option value="0">All Shops</option>{% endif %}
                                </select>                      
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" onclick="get_dates_for_form_submit()" class="btn btn-primary">Generate Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <div id="main">
            {% block innertemplate %}
            {% endblock %}
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="errorModal d-none" data-bs-toggle="modal" data-bs-target="#errorMessageModalInNav"></button>
        
        <!-- Modal -->
        <div class="modal fade" style="z-index: 10011;" id="errorMessageModalInNav" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">User Error</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="errorMessageDisplayer">{% block errorMessageDisplayer %}{% endblock %}</div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            function get_dates_for_form_submit(){
                start_dt = document.getElementById("start-dt").value
                end_dt = document.getElementById("end-dt").value
                bi_id = document.getElementById("bi").value
                shop_id = document.getElementById("shop").value
                localStorage.setItem("date",JSON.stringify([start_dt,end_dt,bi_id,shop_id]))                
            }
            function callModalForDateRange(txt){
                form = document.getElementById("submitForm")
                let name = ""
                if (txt == "get_report"){
                    name = 'Job Ability Report'
                    form.setAttribute('action',`{{url_for('views.get_report')}}`)   
                 
                }else{
                    name = 'PIC Report'
                    form.setAttribute('action',`{{url_for('views.pic_report')}}`)  
                }
                form.previousElementSibling.children[0].textContent += name
            }

            function showDropdown(btn){              
                dropdownContent = btn.nextElementSibling
                if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                } else {
                  dropdownContent.style.display = "block";
                }
            }

            openBtn = document.getElementsByClassName('open-btn')[0]
            closeBtn = document.getElementsByClassName('close-btn')[0]
            let sms = document.getElementById("sms");
            let logo = document.getElementById("logo");
            let rightarwicn = document.getElementById("rightarw");

            function openNav() {
                document.getElementById("mySidenav").style.width = "200px";
                document.getElementById("main").style.marginLeft = "200px";

                openBtn.style.display = "none"
                closeBtn.style.display = ""
                logo.style.display = "none";
                sms.style.display = "block";
                sms.classList.add("slide-left-in");
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
                openBtn.style.display = ""
                closeBtn.style.display = "none"

                logo.style.display = "block";
                sms.classList.remove("slide-left-in");
                sms.style.display = "none"
            }

            function showForm(){
                let noneEles = document.getElementsByClassName('showeles')
                let showEles = document.getElementsByClassName('hiders')
                noneEles[0].style.display = "none"
                noneEles[1].style.display = "none"
                showEles[0].style.display = "block"
                showEles[1].style.display = "block"
                showEles[2].style.display = "block"
            }
            function hideForm(){
                let noneEles = document.getElementsByClassName('showeles')
                let showEles = document.getElementsByClassName('hiders')
                noneEles[0].style.display = "block"
                noneEles[1].style.display = "block"
                showEles[0].style.display = "none"
                showEles[1].style.display = "none"
                showEles[2].style.display = "none"                
            }
            let todayy  = new Date()
            document.getElementById("start-dt").value = todayy.getDate
            document.getElementById("end-dt").value = todayy.getDate
            if (window.location.href.includes("show-datas") || window.location.href.includes("create-form")){
                let mgs;
                console.log("test")
                try{
                    mgs = document.getElementById('errorMessageDisplayer').textContent.trim()
                }catch{
                    mgs = "None"
                }
                if (mgs != 'None' && mgs != ""){
                    let modalClicker = document.getElementsByClassName("errorModal")
                    modalClicker[0].click()
                }
                formExist = document.getElementById("hidden-rate-form-input")
                if(formExist){
                    document.getElementsByClassName("add-btn")[0].addEventListener('click',function(){
                        if (formExist.classList.contains("d-none")){
                            document.getElementsByClassName("add-btn")[0].textContent = "Discard"
                            formExist.classList.remove("d-none")
                        }else{
                            var inputElements = formExist.getElementsByTagName("input");
                            // Loop through the input elements and reset their values
                            for (var i = 0; i < inputElements.length; i++) {
                                inputElements[i].value = ""; // Set the value to an empty string
                            }

                            document.getElementsByClassName("add-btn")[0].textContent = "Add+"
                            formExist.classList.add("d-none")                       
                        }
                    })
                }
            }else if (window.location.href.includes("create-form")){
                const inputList = document.querySelectorAll('.service-data-input-form input');

                inputList.forEach(input => {
                    input.addEventListener('keydown', function(event) {
                        if (event.key === 'Enter') {
                        event.preventDefault();
                        }
                    });
                });
            }else if (window.location.href.includes("get-report")){
                Array.from(document.getElementsByClassName("summary-data-in-graph-report-table")).forEach(data => {
                    data.textContent =  parseFloat(data.textContent).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2});
                })
            }
        </script>
    </body>
</html>