{% extends 'nav.html' %}

{% block innertemplate %}
<h3 class="text-center py-3" id="dailyReportTitle">Techanician IDLE Report</h3>
    <div class="container-fluid m-0 p-0" style="width: 100%;height: 480px;overflow: auto;" >
        <table id="dailyReportTable" class="table table-bordered table-hover" style="min-width: 1000px;border: 1px solid black">
            <thead style="position: sticky;top: 0;z-index: 3;">
                <tr>
                    <th  class="text-center" style="background-color: #D4D4D4;position: sticky;left: 0">Techanician</th>
                    <th  class="text-center" style="background-color: #D4D4D4;">Duration</th>
                    <th  class="text-center" style="background-color: #D4D4D4;">Graph</th>
                </tr>
            </thead>
            <tbody>
                <tr style="vertical-align: middle;">
                    <td class="text-center" style="position: sticky;left: 0;z-index: 2;">Thant Zin Aung Aung Aung</td>
                    <td class="text-center" style="position: sticky;left: 100px;">
                        <span>3:00</span><hr style="margin: 5px;">
                        <span>3:00</span>
                    </td>
                    <td style="width: 1000px;">
                        <div id="table12345" style="width: max-content;height: 120px"></div>
                    </td>
                </tr>
                <tr style="vertical-align: middle;">
                    <td class="text-center" style="position: sticky;left: 0;z-index: 2;">Thant Zin Aung Aung Aung</td>
                    <td class="text-center" style="position: sticky;left: 100px;">
                        <span>3:00</span><hr style="margin: 5px;">
                        <span>3:00</span>
                    </td>
                    <td style="width: 1000px;">
                        <div id="table12345" style="width: max-content;height: 120px"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>     
    <script src="{{url_for('static',filename='scripts/chart.js')}}"></script>
{% endblock %}